<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar with Indicator</title>

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="body_user">
        <div class="chart-container">
            <canvas id="bpmChart"></canvas>
        </div>

        <div class="box-container">
    <div class="history-box">
        <h3>Storico Inserimenti</h3>
        
        <!-- Storico Pressione -->
        <% if @pressure_data.present? %>
            <ul id="pressure-history-list">
                <% @pressure_data.each do |data| %>
                    <li>Pressure: <%= data.value %> mmHg - <%= data.created_at.strftime("%d/%m/%Y %H:%M") %></li>
                <% end %>
            </ul>
        <% end %>
        
        <!-- Storico BPM -->
        <% if @bpm_data.present? %>
            <ul id="bpm-history-list">
                <% @bpm_data.each do |data| %>
                    <li>BPM: <%= data.value %> - <%= data.created_at.strftime("%d/%m/%Y %H:%M") %></li>
                <% end %>
            </ul>
        <% end %>
        
        <!-- Storico Ossigeno -->
        <% if @oxygen_data.present? %>
            <ul id="oxygen-history-list">
                <% @oxygen_data.each do |data| %>
                    <li>Oxygen: <%= data.value %> % - <%= data.created_at.strftime("%d/%m/%Y %H:%M") %></li>
                <% end %>
            </ul>
        <% end %>
    </div>

    <div class="button-container">
        <select name="graph-type" id="graph-type">
            <option value="BPM">BPM</option>
            <option value="Pressione">Pressione</option>
            <option value="Ossigenazione">Ossigenazione</option>
        </select>
        <button>Tutorial</button>
        <button>Inserisci</button>
    </div>
</div>


        <nav class="nav_user">
            <ul class="nav_user-content">
                <li class="nav_user-list">
                    <%= link_to setting_path, class: 'link-item user' do %>
                        <i class='bx bxs-cog link-icon'></i>
                        <span class="link-text">Settings</span>
                    <% end %>
                </li>
                <li class="nav_user-list">
                    <%= link_to root_path, class: 'link-item user' do %>
                        <i class='bx bxs-home link-icon user'></i>
                        <span class="link-text user">Home</span>
                    <% end %>
                </li>
                <li class="nav_user-list">
                    <%= link_to profile_path, class: 'link-item active user' do %>
                        <i class='bx bxs-user link-icon'></i>
                        <span class="link-text">Profile</span>
                    <% end %>
                </li>
                <span class="indicator_user"></span>
            </ul>
        </nav>
    </div>

    <!-- JavaScript for Chart.js -->
    <script>
        document.addEventListener("DOMContentLoaded", () => {

            // Event listener per il select
            const graphTypeSelect = document.getElementById('graph-type');
            graphTypeSelect.addEventListener('change', (event) => {
                updateChart(event.target.value);
            });

            const linkItems = document.querySelectorAll(".link-item");
            const indicator = document.querySelector(".indicator_user");

            function updateIndicator() {
                const activeItem = document.querySelector(".link-item.active");
                if (activeItem) {
                    const { offsetLeft, offsetWidth } = activeItem;
                    indicator.style.left = `${offsetLeft + (offsetWidth / 2)}px`;
                }
            }

            updateIndicator();
            window.addEventListener("resize", updateIndicator);
        });
    </script>
</body>
</html>
