


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <style>
        /* Aggiungi qui lo stile per il container */

        .container {
            background-color: #fff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 350px;
            text-align: center;
            margin-bottom: 40px;
            height: 80%;
            overflow-y: auto;
        }

        h2 {
            margin-bottom: 20px;
            font-size: 24px;
            color: #333;
        }

        .field {
            margin-bottom: 15px;
            text-align: left;
        }

        .field label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        .field input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .field select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .actions {
            margin-top: 20px;
        }

        .actions input {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 15px;
            border-radius: 4px;
            cursor: pointer;
        }

        .actions input:hover {
            background-color: #0056b3;
        }

        p {
            margin-top: 20px;
            font-size: 14px;
        }

        p a {
            color: #007bff;
            text-decoration: none;
        }

        p a:hover {
            text-decoration: underline;
        }

        .content-container {
            height: calc(100% - 150px);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
        }
        

    </style>
</head>
<body class="body_user <%= @theme %>-theme">
<div class="content-container">
    <div class="container">
      <h2>Registrazione Utente</h2>
        <% if flash[:alert] %>
            <p><%= flash[:alert] %></p>
        <% end %>
        <%= form_for :user, url: registration_create_path do |f| %>
        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true %>
        </div>
        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password", required: true %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true %>
        </div>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div class="field">
            <%= f.label :surname %>
            <%= f.text_field :surname %>
        </div>
        <div class="field">
            <%= f.label :sex %>
            <%= f.select :sex, options_for_select([['Male', 'M'], ['Female', 'F'], ['Other', 'O']]) %>
        </div>
        <div class="field">
            <%= f.label :age %>
            <%= f.number_field :age %>
        </div>
        <div class="actions">
            <%= f.submit "Sign up" %>
        </div>
        <% end %>
        <p>Torna al <%= link_to "Login", profile_path %></p>
    </div>
</div>

    <nav class="nav_user">
        <ul class="nav_user-content">
            <li class="nav_user-list">
                <%= link_to setting_path, class: 'link-item user' do %>
                    <i class='bx bxs-cog link-icon'></i> <!-- Modificato da bxs-user a bxs-cog -->
                    <span class="link-text">Settings</span>
                <% end %>
            </li>


            <li class="nav_user-list">
            <%= link_to root_path, class: 'link-item user' do %>
                <i class='bx bxs-home link-icon user'></i>
                <span class="link-text user">Home</span>
            <% end %>
        </li>
            

            <li class="nav_user-list">
                <%= link_to profile_path, class: 'link-item active user' do %>
                    <i class='bx bxs-user link-icon'></i>
                    <span class="link-text">Profile</span>
                <% end%>
            </li>
            <span class="indicator_user"></span>
        </ul>
    </nav>
</body>
<script>
const linkItems = document.querySelectorAll(".link-item");
            const indicator = document.querySelector(".indicator_user");

            function updateIndicator() {
                const activeItem = document.querySelector(".link-item.active");
                if (activeItem) {
                    const { offsetLeft, offsetWidth } = activeItem;
                    indicator.style.left = `${offsetLeft + (offsetWidth / 2)}px`;
                }
            }

            updateIndicator();
            window.addEventListener("resize", updateIndicator);
</script>

</html>


