<h1>Inserisci il codice OTP</h1>

<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with url: verify_otp_path, method: :post do |f| %>
  <div>
    <%= f.label :otp, "Codice OTP" %>
    <%= f.text_field :otp, class: "form-control" %>
  </div>
  <div>
    <%= f.submit "Verifica", class: "btn btn-primary" %>
  </div>
<% end %>

<!-- Bottone per tornare alla pagina di login -->
<div style="margin-top: 20px;">
  <%= link_to "Torna al login", login_path, class: "btn btn-secondary" %>
</div>
