<h2>Login Utente</h2>

<%= form_for :user, url: login_create_path do |f| %>
  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password, "Password" %>
    <%= f.password_field :password %>
  </div>

  <div class="actions">
    <%= f.submit "Login" %>
  </div>
<% end %>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<p>Non hai un account? <%= link_to "Registrati", new_user_registration_path %></p