<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
</head>
<body>
    <div class="container_navbar_supervisor">
        <nav class="navbar_supervisor">
            <%= button_to root_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                home
              </span>
            <% end %>
            <%= button_to profile_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                person
              </span>
            <% end %>
        </nav>
      <div class="central_sec_sup">
        <aside class="operator_list_sup" id="op_list_sup">
          <% @operators.each do |op| %>
            <div class="op_section_sup" id="<%= op.id %>">
              <p><strong>ID Operatore:</strong> <%= op.id %></p>
              <p><strong>Nome:</strong> <%= op.name  %></p>
              <p><strong>Cognome:</strong> <%= op.surname %></p>
              <p><strong>Sede:</strong> <%= op.workplace %></p>
            </div>
          <% end %>
        </aside>
        <div class="right_section_sup">
          <div class="maps_section_sup" id="map">
              <!-- div per il render di google maps -->
          </div>

          <div class="btn_container_sup_index">
              <button> Aggiungi Operatore </button>
              <%= button_to "Lista\nReport", sup_report_list_path, method: :get, class: 'btn btn-primary'%>
              <button> Crea Recap </button>
          </div>
        </div>
      </div>
    </div>
</body>
<script>

  var arrrayReportsID = <%= raw @reports.map {|report| j report.id}.to_json %>;
  var arrayReportsC = <%= raw @reports.map {|report| j report.coordinates}.to_json %>;
  console.log(arrrayReportsID);
  console.log(arrayReportsC);

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: { lat: 41.86, lng: 12.56 }, // Default center, will be adjusted later
      fullscreenControl: false, // Disables fullscreen control
      streetViewControl: false, // Disables street view control
      mapTypeControl: false // Disables map type control
    });
    
    arrayReportsC.forEach(function(report) {
      i = arrayReportsC.indexOf(report);
      coordinates = report.split(',');
      mark = new google.maps.Marker({
        position: new google.maps.LatLng(coordinates[0], coordinates[1]),
        map: map,
        title: 'Richiesta '+arrrayReportsID[i],
        id: arrrayReportsID[i]
      });
      mark.addListener('click', function() {
        window.location.href = "/sup_show_report/" + this.id;
      });
    });
  }
  window.onload = initMap;

  function fetchOPs() {
    fetch("<%= root_path %>")
      .then(response => response.text())
      .then(html => {
        const parser = new DOMParser();
        const doc = parser.parseFromString(html, 'text/html');
        const newOpsSection = doc.querySelector('#op_list_sup').innerHTML;
        document.querySelector('#op_list_sup').innerHTML = newOpsSection;
        attachClickListeners();
      })
      .catch(error => console.error('Errore durante l\'aggiornamento degli operatori:', error));
  }

  function attachClickListeners() {
    document.querySelectorAll('.op_section_sup').forEach(element => {
      element.addEventListener('click', () => {
        window.location.href = `/sup_show_op/${element.id}`;
      });
    });
  }

  attachClickListeners();

  setInterval(fetchRPs, 5000); // Aggiorna ogni 5 secondi

</script>
</html>