<!-- app/views/operatorpage/home/operator_index.html.erb -->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="container_navbar_operator">
        <nav class="navbar_operator">
            <%= button_to root_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                home
              </span>
            <% end %>
            <%= button_to manual_list_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                import_contacts
              </span>
            <% end %>
            <%= button_to report_history_list_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                history
              </span>
            <% end %>
            <%= button_to profile_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                person
              </span>
            <% end %>
        </nav>

        <div class="maps_section_operator">
            <!-- da inserire google maps -->
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0899743766096!2d-122.40060808468155!3d37.78583477975862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085808f5f5f5f5f%3A0x5a5a5a5a5a5a5a5a!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sin!4v1638183510984!5m2!1sen!2sin"
                width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy">
            </iframe>
        </div>

        <aside class="reports_section_operator" id="reports-section">
            <% @reports.each do |report| %>
              <div class="report_area_operator">
                <p><strong>Richiesta:</strong> <%= link_to report.id, show_report_path(report)%></p>
                <% datetime = report.created_at.to_s.slice(0...-5)%>
                <p><strong>Data:</strong> <%= datetime %></p>
              </div>
            <% end %>
        </aside>
    </div>

    <script>
      function fetchReports() {
        fetch("<%= root_path %>")
          .then(response => response.text())
          .then(html => {
            const parser = new DOMParser();
            const doc = parser.parseFromString(html, 'text/html');
            const newReportsSection = doc.querySelector('#reports-section').innerHTML;

            document.querySelector('#reports-section').innerHTML = newReportsSection;
          })
          .catch(error => console.error('Errore durante l\'aggiornamento dei reports:', error));
      }

      setInterval(fetchReports, 10000); // Aggiorna ogni 10 secondi
    </script>
</body>
</html>
