<!-- app/views/operatorpage/home/operator_index.html.erb -->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>"></script>
</head>
<body>
    <div class="container_navbar_operator">
        <nav class="navbar_operator">
            <%= button_to root_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                home
              </span>
            <% end %>
            <%= button_to manual_list_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                import_contacts
              </span>
            <% end %>
            <%= button_to report_history_list_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                history
              </span>
            <% end %>
            <%= button_to profile_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                person
              </span>
            <% end %>
        </nav>

        <div class="central_section_operator">
          <div class="map-chat-section_op">
            <div class="maps_section_operator_reduced" id="map">
              <!-- div per il render di google maps -->
            </div>
            <div class="chat_section_operator">
              <% cm = @report.contact_method %>
              <% if cm != 2%>
                <p> L'utente non ha selezionato la chat come metodo di contatto</p>
              <% else %>
                inserire chat
                <!-- da inserire chat con utente -->
              <% end %>
            </div>
            <div class="map-chat_selector">
                <button class="map-chat_selector_button1" id="select-map_button"><span class="material-symbols-outlined">map</span></button>
                <button class="map-chat_selector_button2" id="select-chat_button"><span class="material-symbols-outlined">forum</span></button>
            </div>
          </div>
          <div class="report_info_operator">
            <h2>Dettagli della richiesta</h2>
            <div class="report_info_container">
              <div class="report_info_c1">
                <h3>Informazioni richiesta</h3>
                <p><strong>Richiesta n°:</strong> <%= @report.id %></p>
                <% datetime = @report.created_at.to_s.split(' ')%>
                <p><strong>Data: </strong><%= datetime[0] %></p>
                <p><strong>Orario:</strong> <%= datetime[1] %></p>
                <p><strong>Coordinate:</strong> <%= @report.coordinates %></p>
                <p><strong>Modalità di contatto:</strong> 
                <% cm = @report.contact_method %>
                <% if cm == 0%>
                  Non contattare </p>
                <% elsif cm == 1%>
                  Telefono </p>
                <% elsif cm == 2%>
                  Chat </p>
                <% end %>
                <%= button_to 'Prendi incarico', update_op_id_path(@report), method: :patch, class: 'report-button_operator chooseReportBtn' %>
                <%= button_to 'Rimuovi incarico', remove_me_from_report_path(@report), method: :patch, class: 'report-button_operator removeReportBtn' %>
                <% if @rep_taken%>
                <%= link_to 'Vai alla Chat', chat_path(report_id: @report.id) %>


                <style>
                  .chooseReportBtn {
                    display: none;
                  }
                  .removeReportBtn{
                    display: block;
                  }
                </style>
                <% else %>
                <style>
                  .chooseReportBtn {
                    display: block;
                  }
                  .removeReportBtn{
                    display: none;
                  }
                </style>
                <% end %>
              </div>
              <div class="report_info_c2">
                <h3>Informazioni paziente</h3>
                <div class="report_info_c2_sub">
                  <p><strong>Domanda 1:</strong> <%= @report.question1 %></p>
                  <p><strong>Domanda 2:</strong> <%= @report.question2 %></p>
                  <p><strong>Domanda 3:</strong> <%= @report.question3 %></p>
                  <p><strong>Domanda 4:</strong> <%= @report.question4 %></p>
                  <p><strong>Domanda 5:</strong> <%= @report.question5 %></p>
                  <p><strong>Domanda 6:</strong> <%= @report.question6 %></p>
                  <p><strong>Domanda 7:</strong> <%= @report.question7 %></p>
                  <p><strong>Domanda 8:</strong> <%= @report.question8 %></p>
                  <p><strong>Domanda 9:</strong> <%= @report.question9 %></p>
                  <p><strong>Domanda 10:</strong> <%= @report.question10 %></p>
                  <p><strong>Domanda 11:</strong> <%= @report.question11 %></p>
                  <p><strong>Domanda 12:</strong> <%= @report.question12 %></p>
                  <p><strong>Domanda 13:</strong> <%= @report.question13 %></p>
                  <p><strong>Domanda 14:</strong> <%= @report.question14 %></p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="user_info_operator">
            <h2>Informazioni utente</h2>
            <p><strong>User ID:</strong> <%= @user.id %></p>
            <p><strong>Nome:</strong> <%= @user.name %></p>
            <p><strong>Cognome:</strong> <%= @user.surname %></p>
            <p><strong>Età:</strong> <%= @user.age %></p>
            <p><strong>Sesso:</strong> <%= @user.sex %></p>
            <p><strong>Cellulare:</strong> <%= @user.phone %></p>
        </div>
    </div>
</body>
<script>

  const mapButton = document.getElementById('select-map_button');
  const chatButton = document.getElementById('select-chat_button');
  const mapSection = document.querySelector('.maps_section_operator_reduced');
  const chatSection = document.querySelector('.chat_section_operator');

  mapButton.addEventListener('click', () => {
    mapSection.style.display = 'flex';
    chatSection.style.display = 'none';
    mapButton.style.backgroundColor = '#eee';
    chatButton.style.backgroundColor = '#fff';
  });

  chatButton.addEventListener('click', () => {
    mapSection.style.display = 'none';
    chatSection.style.display = 'flex';
    chatButton.style.backgroundColor = '#eee';
    mapButton.style.backgroundColor = '#fff';
  });

  // google maps
  var Coordinate = "<%= @report.coordinates %>";
  function initMap() {

    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: { lat: 41.86, lng: 12.56 }, // Default center, will be adjusted later
      fullscreenControl: false, // Disables fullscreen control
      streetViewControl: false, // Disables street view control
      mapTypeControl: false // Disables map type control
    });

    coordinates = Coordinate.split(',');
    new google.maps.Marker({
      position: new google.maps.LatLng(coordinates[0], coordinates[1]),
      map: map,
      title: 'Richiesta'
    });

  }

  window.onload = initMap;

</script>
</html>
