<!-- app/views/operatorpage/home/operator_index.html.erb -->
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <div class="container_navbar_operator">
        <nav class="navbar_operator">
            <%= button_to root_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                home
              </span>
            <% end %>
            <%= button_to manual_list_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                import_contacts
              </span>
            <% end %>
            <%= button_to report_history_list_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                history
              </span>
            <% end %>
            <%= button_to operator_profile_path, method: :get, class: 'nav-button_operator' do %>
              <span class="material-symbols-outlined">
                person
              </span>
            <% end %>
        </nav>

        <div class="central_section_operator">
          <div class="maps_section_operator_reduced">
              <!-- da inserire google maps -->
          </div>
          <div class="report_info_operator">
            <h2>Dettagli della richiesta</h2>
            <p><strong>Richiesta:</strong> <%= @report.id %></p>
            <% datetime = @report.created_at.to_s.split(' ')%>
            <p><strong>Data: </strong><%= datetime[0] %></p>
            <p><strong>Orario:</strong> <%= datetime[1] %></p>
            <p><strong>Coordinate:</strong> <%= @report.coordinates %></p>
            

          </div>
        </div>

        <div class="user_info_operator">
            <h2>Informazioni utente</h2>
            <p><strong>User ID:</strong> <%= @user.id %></p>
            <p><strong>Nome:</strong> <%= @user.name %></p>
            <p><strong>Cognome:</strong> <%= @user.surname %></p>
            <p><strong>Età:</strong> <%= @user.age %></p>
            <p><strong>Sesso:</strong> <%= @user.sex %></p>
            <p><strong>Cellulare:</strong> <%= @user.phone %></p>

            
          
        </div>

        
    </div>
</body>
</html>
