<!-- app/views/segnalazioni/index.html.erb -->
<h1>Segnalazioni in Attesa di Accettazione</h1>

<% @reports.each do |report| %>
  <div>
    <p><strong>Utente:</strong> <%= report.nome_utente %></p>
    <p><strong>Data:</strong> <%= report.data %></p>
    <p><strong>Ora:</strong> <%= report.ora %></p>
    <p><strong>Coordinate:</strong> <%= report.coordinate %></p>

    <%= form_with url: operator_report_path(@operator, report), method: :patch do |form| %>
      <%= form.submit 'Accetta Segnalazione' %>
    <% end %>
  </div>
<% end %>
