<!-- app/views/reports/new.html.erb -->
<h1>Nuova Segnalazione</h1>

<%= form_with(model: [@user, @report], local: true) do |form| %>
  <div class="field">
    <%= form.label :ora, 'Ora' %>
    <%= form.time_select :ora %>
  </div>

  <div class="field">
    <%= form.label :data, 'Data' %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :coordinate, 'Coordinate' %>
    <%= form.text_field :coordinate %>
  </div>

  <div class="field">
    <%= form.label :operator_id, 'Operatore' %>
    <%= form.collection_select :operator_id, @operators, :id, :name, prompt: 'Seleziona un operatore' %>
  </div>

  <div class="actions">
    <%= form.submit 'Crea Segnalazione' %>
  </div>
<% end %>


