<!DOCTYPE html>
<html>
  <head>
    <title>Firstaid</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    
  </head>

  <body>
    <%= yield %>
    <!-- Mostra il form di logout solo se l'utente è autenticato -->
    <% if user_signed_in? %>
      <%= form_with(url: destroy_user_session_path, method: :delete) do %>
        <%= submit_tag 'Logout' %>
      <% end %>
    <% end %>

  </body>
</html>
